[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xbindkeys
Comment=F-Keys
Exec=/usr/bin/xbindkeys -d :0.0
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
